/* Center Align with Flex */

.gtn-center__vertical {
  display: flex;
  align-items: center;
}

.gtn-center__horizontal {
  display: flex;
  justify-content: center;
}

.gtn-center__both {
  display: flex;
  align-items: center;
  justify-content: center;
}
