/*-------------------------------------------
  -- Opacity
-------------------------------------------*/
.gtn-opacity__5 {
  opacity: 0.05;
}
.gtn-opacity__10 {
  opacity: 0.1;
}
.gtn-opacity__20 {
  opacity: 0.2;
}
.gtn-opacity__30 {
  opacity: 0.3;
}
.gtn-opacity__40 {
  opacity: 0.4;
}
.gtn-opacity__50 {
  opacity: 0.5;
}
.gtn-opacity__60 {
  opacity: 0.6;
}
.gtn-opacity__70 {
  opacity: 0.7;
}
.gtn-opacity__80 {
  opacity: 0.8;
}
.gtn-opacity__90 {
  opacity: 0.9;
}
