/*-------------------------------------------
  -- Overflow
-------------------------------------------*/

.gtn-overflow__hidden {
  overflow: hidden;
}
.gtn-overflow__visible {
  overflow: visible;
}
